* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-Contaner {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
    justify-content: center;
}

#header-Contaner a {
    font-size: 1.3rem;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#header-Contaner a:hover,
#header-Contaner a:focus {
    background-color: darkblue;
    color: lightgray;
    text-decoration: none;
}

#Skills-Container{
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  #icon-Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .tech-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .tech-name {
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tech-item:hover .tech-name {
    opacity: 1;
  }
  .custom-html-icon{
    color: #e34f26;
  }
  .custom-css-icon{
    color: #1572B6;
  }
  .custom-JavaScript-icon{
    color: #F7DF1E;
  }
  .custom-sql-icon{
    color: #2C3E50;
  }
  .custom-github-icon{
    color: #181717;
  }
  .custom-react-icon{
    color: #61DBFB;
  }


